@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
	.moving-lines{	
		background-image: linear-gradient(to right, black 50%, transparent 0), 
									linear-gradient(to bottom, black 50%, transparent 0), 
									linear-gradient(to right, black 50%, transparent 0), 
									linear-gradient(to bottom, black 50%, transparent 0);
		background-position: 0 0, 100% 0, 0% 100%, 0 0%;
		background-size: 30px 1px, 1px 30px, 30px 1px, 1px 30px;
		background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
	}

	.two-static-lines{
		@apply bg-24_1_2 bg-two-lines bg-up-down bg-repeat-x md:animate-movingLinesSlower
	}
}

@keyframes moving-lines-different{
	0%{
		background-position: 0 0%, 0% 100%;
	}

	100%{
		background-position: 24px 0%, -24px 100%;
	}
}

@keyframes moving-lines{
	0%{
		background-position: 0 0, 100% 0, 0% 100%, 0 0%;
	}

	100%{
		background-position: 30px 0, 100% 30px, -30px 100%, 0 -30px;
	}
}

*, *:before, *:after{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
	transition: all 0.3s linear;
}

*::selection{
	color: white;
	background: black;
}

::-webkit-scrollbar{
	width: 0px;
}

@font-face{
	font-family: 'ogg';
    src: url('./fonts/Ogg-Roman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu';
    src: url('./fonts/Apercu_Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu mono';
    src: url('./fonts/apercu-mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pingfang';
    src: url('./fonts/PingFang-SC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#menu--options-outer-div{
	@apply grid grid-cols-2 grid-rows-2 h-5/6 text-c-black text-xl relative
}

.menu--options{
	@apply text-c-black text-xl relative opacity-0;
}

.menu--options>a{
 @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
}

@keyframes options{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

.preformatted{
	@apply mb-7
}

.widelink{
	@apply  text-center border border-black border-solid w-full block p-5 mb-5 md:w-[11.25rem] md:py-4;
}

.menu--socials{
	@apply w-auto py-4 border border-black border-solid text-3xl;
}

@media (min-width: 768px){
	#container, #header{
		max-width: calc(100% - 180px);
	}
}

#header{
	@apply fixed z-3 inset-x-0 flex flex-row justify-between items-center px-[1.875rem] md:px-14 p-[1.85rem] md:py-[3.75rem] pointer-events-none;
}

#logo{
	@apply cursor-pointer pointer-events-auto
}

#header--menu-icon-box{
	@apply text-4xl flex md:hidden
}

#side-navigation{
	@apply hidden md:flex fixed right-0 inset-y-0
}

.side--navigation-links{
	writing-mode: vertical-lr;
	@apply text-center px-4 font-apercu-mono text-xl before:absolute before:top-[4.7rem] before:inset-x-0 relative;
}

.side--navigation-links:before{
	writing-mode: horizontal-tb;
}

@keyframes moveRightShow{
	0%{
		opacity: 0;
		transform: translateX(0px);
		pointer-events: none;
	}
	100%{
		opacity: 1;
		transform: translateX(40px);
		pointer-events: auto;
	}
}

@keyframes moveRightHide{
	0%{
		opacity: 1;
		transform: translateX(0px);
		pointer-events: auto;
	}
	100%{
		opacity: 0;
		transform: translateX(20px);
		pointer-events: none;
	}
}

@keyframes moveLeftShow{
	0%{
		opacity: 0;
		transform: translateX(20px);
		pointer-events: auto;
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
		pointer-events: none;
	}
}

@keyframes moveLeftHide{
	0%{
		opacity: 1;
		transform: translateX(40px);
		pointer-events: none;
	}
	100%{
		opacity: 0;
		transform: translateX(0px);
		pointer-events: auto;
	}
}

#main{
	@apply relative top-[300px] md:top-[15.6rem]
}

#main>section, #footer{
	@apply px-[1.875rem]  md:px-[3.75rem]
}

.first-section--text{
	@apply text-[2.185rem] leading-[42px] font-ogg md:text-[75px] md:leading-[86px] 
}

#first-image{
	@apply relative mt-10 mb-[5.5rem] pb-[115%] md:pb-[63%] md:my-[7.5rem]
}

#first-image--image{
	@apply bg-[url("./images/first.jpg")] bg-cover bg-no-repeat w-full h-full bg-center absolute z-1
}

#second-section--header{
	@apply text-6xl font-ogg my-[4rem] md:text-[7rem] md:leading-[9.5rem]
}

.grid-container{
	@apply grid md:grid-cols-3 md:gap-x-16
}

.grid-children .preformatted{
	@apply my-8 text-sm
}

.single-dash{
	@apply bg-24_1 bg-lines bg-left-bottom bg-repeat-x
}

main>#third-section{
	@apply  md:px-0
}

#third-section{
	@apply mt-6 md:flex md:flex-row md:items-center md:py-16 md:mx-14 mb-2;
}

.third-section--headers{
	@apply text-6xl font-ogg text-center mx-8 md:mx-0 md:text-8xl md:mr-14
}

.foreign{
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: hsla(0 0% 50%);
    -webkit-text-fill-color: transparent;
	@apply font-pingfang py-16 md:py-0 text-6xl
}

.foreign:last-of-type{
	@apply pb-14 md:py-0
}

.static-lines{
	@apply bg-24_1 bg-lines bg-repeat-x
}

main>#fourth-section{
	@apply md:px-0 md:mx-14 md:my-3
}

#fourth-section{
	@apply md:py-3 relative md:two-static-lines
}

#fourth-section--div{
	@apply two-static-lines mx-8 py-2 md:mx-0;
}

.double-dash{
	@apply my-2 text-center md:my-[3.4rem] md:mb-[4.5rem]
}

.double-dash--info, .double-dash--date{
	@apply static-lines md:bg-none md:leading-snug
}

.double-dash--date{
	@apply bg-left-top pt-12 pb-4 text-xs md:pt-0
}

.double-dash--info{
	@apply pb-12 px-5 md:px-0 bg-left-bottom leading-snug md:pb-0;
}

.fourth-section--link{
	@apply md:absolute md:bottom-0 md:left-1/2 md:-translate-x-1/2 my-[3.55rem] md:my-0 md:-mb-6 bg-white
}

#fifth-section{
	@apply grid md:grid-cols-2 md:gap-16
}

#fifth-section--location, #fifth-section--address{
	@apply focus:animate-movingLines focus-within:animate-movingLines active:animate-movingLines cursor-pointer hover:animate-movingLines moving-lines mb-8 md:my-[4.5rem] md:mt-[8.5rem]
}

#fifth-section--location{
	@apply hidden md:block
}

#fifth-section--location>img{
	@apply object-cover h-full relative z-[-1]
}

#fifth-section--address{
	@apply text-[2.5rem] font-ogg p-[3.25rem] text-center md:text-6xl md:leading-snug md:px-0 md:py-20
}

#sixth-section--div{
	@apply py-10 flex flex-col items-center md:px-20 md:py-[3.75rem];
	background-image: repeating-linear-gradient(-74deg,rgba(0,0,0,.2),rgba(0,0,0,.2) 1px,transparent 0,transparent 4px),repeating-linear-gradient(-74deg,rgba(0,0,0,.2),rgba(0,0,0,.2) 1px,transparent 0,transparent 4px);
    background-position: 0 0,0 100%;
    background-size: 100% 12px,100% 12px;
    background-repeat: repeat-x,repeat-x,repeat-y,repeat-y;
}

#sixth-section--vendor{
	@apply text-2xl font-ogg px-4 text-center pb-5 md:text-[2.8125rem] leading-snug
}

.sixth-section--vendor-link{
	@apply  mb-0;
}

#footer{
	@apply py-16 relative
}

.footer--reach-us{
	@apply text-center moving-lines mb-[1.875rem] focus-within:animate-movingLines active:animate-movingLines cursor-pointer hover:animate-movingLines
}

#footer--idk{
	@apply flex flex-col md:flex-row
}

#footer--idk .footer--reach-us{
	@apply md:mr-[3.5rem] md:px-14 md:flex md:flex-col md:items-center md:justify-center md:py-8 
}

.footer--reach-us-icon{
	@apply pt-[1.875rem] pb-2 text-3xl
}

.footer--reach-us .preformatted{
	@apply text-center pb-[1.875rem] text-sm mb-0
}

.footer--email{
	@apply mt-[3.75rem]
}

.footer--bottom-divs{
	@apply font-apercu text-[0.625rem] flex flex-row items-center justify-between
}

.footer--link{
	@apply border-b border-black
}

.footer--input-email{
	@apply border border-black px-6 py-4 w-5/6 mt-4 mx-auto flex flex-row justify-between items-center
}

input[type="email"]{
	@apply placeholder:text-black placeholder:opacity-100 focus:border-0 focus:outline-0
}

.footer--input-email-enter-btn{
	@apply text-xl cursor-pointer
}

.fade{
	@apply opacity-0;
}